{% extends "coreapp/base.html" %}
{% load staticfiles %}
{% block map_css_js %}
<link rel="stylesheet" type="text/css" href="{% static "map/css/task.css" %}">

{% endblock %}



{% block content %}
<div class = "container section">
<div row class="congratulate">
  <h1>Congratulations, you have completed the adventure!!!</h1>
  <div class ="text-center">
    <a href="/profile">
      <button class="btn btn-danger btn-lg return">Return to your profile!</button>
    </a>
  </div>
</div>
</div>
{% endblock %}
