{% extends "coreapp/base.html" %}
{% load staticfiles %}
{% block map_css_js %}
<link rel="stylesheet" type="text/css" href={% static "map/css/style.css" %}>

{% endblock %}
{% block content %}


      <div id="space"></div>
      <div class="container">

      <!-- <canvas id="girl" style="border:1px solid #000000;"></canvas> -->
      <canvas id="boy" class="{{ boyn }}"></canvas>
      <canvas id="env"></canvas>


      <img id="empire" src={% static "map/images/buildings/Empire_State_Building.png" %}>
      <img id="statue_liberty" src={% static "map/images/buildings/statue_liberty.png" %}>
      <img id="metropolitan" src={% static "map/images/buildings/metropolitan.png" %}>
      <img id="grand" src={% static "map/images/buildings/grand.png" %}>
      <img id="central" src={% static "map/images/buildings/central.png" %}>

      {% if image1 %}
      {% autoescape off %}
      {{ image1 }}
      {% endautoescape %}
      {% endif %}
      <!-- <img src="https://i.kinja-img.com/gawker-media/image/upload/en4oskk7fjw1dm0dczaj.jpg" /> -->
      <div id="grand_title" class="building_name">Grand Central Terminal</div>
      <div id="empire_title" class="building_name">Empire State Building</div>
      <div id="central_title" class="building_name">Central Park</div>
      <div id="statue_title" class="building_name">Statue of Liberty</div>
      <div id="metropolitan_title" class="building_name">The Metropolitan Museum of Art</div>

      <a href="{% url 'map:task1' %}"><img id="number1" class="number_mission" src={% static "map/images/numbers/number1.png" %}></a>
      <a href="{% url 'map:task2' %}"><img id="number2" class="number_mission" src={% static "map/images/numbers/number2.png" %}></a>
      <a href=""><img id="number3" class="number_mission" src={% static "map/images/numbers/number3.png" %}></a>
      <a href=""><img id="number4" class="number_mission" src={% static "map/images/numbers/number4.png" %}></a>
      <a href=""><img id="number5" class="number_mission" src={% static "map/images/numbers/number5.png" %}></a>
      <!-- <img id="mist" src="static/images/mist/mist.png"> -->
      <img id="path1" src={% static "map/images/path1.png" %}>
      <img id="path2" src={% static "map/images/path1.png" %}>
      <img id="path3" src={% static "map/images/path1.png" %}>
      <img id="path4" src={% static "map/images/path1.png" %}>

      <img id="tree1" src={% static "map/images/env/tree1.png" %}>
      <img id="tree2" src={% static "map/images/env/tree2.png" %}>
      <img id="tree3" src={% static "map/images/env/tree3.png" %}>

      <img id="hamster" src={% static "map/images/env/hamster.png" %}>
      <img id="dog" src={% static "map/images/env/dog.png" %}>
      <img id="monster" src={% static "map/images/env/monster.png" %}>


      <!-- <img id="daddy" class="parent" src={% static "map/images/characters/daddy1.png" %}>
      <img id="girl" src={% static "map/images/characters/girl1.png" %}>
      <img id="mom" class="parent" src={% static "map/images/characters/mom1.png" %}> -->
      </div>


      <button id="next" type="button">Next</button>
      <button id="previous" type="button">Previous</button>





    <!-- <script src={% static "map/js/jquery-2.1.4.min.js" %}></script>
    <script src={% static "map/js/bootstrap.min.js" %}></script>
    <script src={% static "map/js/sprite.js" %}></script> -->
<script src={% static "map/js/sprite.js" %}></script>

{% endblock %}
