{% extends "coreapp/base.html" %}
{% load staticfiles %}
{% block title %}Adventure Map{% endblock %}
{% block map_css_js %}
<link rel="stylesheet" type="text/css" href={% static "map/css/style.css" %}>

{% endblock %}

{% block content %}


      <div id="space"></div>
      <div>

      <!-- <canvas id="girl" style="border:1px solid #000000;"></canvas> -->
      <canvas id="boy" class="{{ boyn }}"></canvas>
      <canvas id="env"></canvas>


      <img id="task1_img" src= "{{ place_img_url1 }}">
      <img id="task2_img" src= "{{ place_img_url2 }}">
      <img id="task3_img" src= "{{ place_img_url3 }}">
      <img id="task4_img" src= "{{ place_img_url4 }}">
      <img id="task5_img" src= "{{ place_img_url5 }}">

      {% if image1 %}
      {% autoescape off %}
      {{ image1 }}
      {% endautoescape %}
      {% endif %}
      <!-- <img src="https://i.kinja-img.com/gawker-media/image/upload/en4oskk7fjw1dm0dczaj.jpg" /> -->
      <div id="task1_name" class="building_name">{{ task_name1 }}</div>
      <div id="task2_name" class="building_name">{{ task_name2 }}</div>
      <div id="task3_name" class="building_name">{{ task_name3 }}</div>
      <div id="task4_name" class="building_name">{{ task_name4 }}</div>
      <div id="task5_name" class="building_name">{{ task_name5 }}</div>

      <form class="ToTaskDetailPage" id="number1" action="/adventure{{ adventureid }}/map/task{{ task_num1 }}" method="get">
        <input type="hidden" name="adventureid" value="{{ adventureid }}">
        <input type="hidden" name="task_num" value="{{ task_num1 }}">
        <input class="number_mission" type="image" src={% static "map/images/numbers/number1.png" %} alt="Submit Form" />
      </form>

      <form class="ToTaskDetailPage" id="number2" action="/adventure{{ adventureid }}/map/task{{ task_num2 }}" method="get">
        <input type="hidden" name="adventureid" value="{{ adventureid }}">
        <input type="hidden" name="task_num" value="{{ task_num2 }}">
        <input class="number_mission" type="image" src={% static "map/images/numbers/number2.png" %} alt="Submit Form" />
      </form>

      <form class="ToTaskDetailPage" id="number3" action="/adventure{{ adventureid }}/map/task{{ task_num3 }}" method="get">
        <input type="hidden" name="adventureid" value="{{ adventureid }}">
        <input type="hidden" name="task_num" value="{{ task_num3 }}">
        <input class="number_mission" type="image" src={% static "map/images/numbers/number3.png" %} alt="Submit Form" />
      </form>

      <form class="ToTaskDetailPage" id="number4" action="/adventure{{ adventureid }}/map/task{{ task_num4 }}" method="get">
        <input type="hidden" name="adventureid" value="{{ adventureid }}">
        <input type="hidden" name="task_num" value="{{ task_num4 }}">
        <input class="number_mission" type="image" src={% static "map/images/numbers/number4.png" %} alt="Submit Form" />
      </form>

      <form class="ToTaskDetailPage" id="number5" action="/adventure{{ adventureid }}/map/task{{ task_num5 }}" method="get">
        <input type="hidden" name="adventureid" value="{{ adventureid }}">
        <input type="hidden" name="task_num" value="{{ task_num5 }}">
        <input class="number_mission" type="image" src={% static "map/images/numbers/number5.png" %} alt="Submit Form" />
      </form>

      <!-- <a href=""><img id="number5" class="number_mission" src={% static "map/images/numbers/number5.png" %}></a> -->
      <!-- <img id="mist" src="static/images/mist/mist.png"> -->
      <img id="path1" src={% static "map/images/path1.png" %}>
      <img id="path2" src={% static "map/images/path1.png" %}>
      <img id="path3" src={% static "map/images/path1.png" %}>
      <img id="path4" src={% static "map/images/path1.png" %}>

      <!-- <img class="question_mark first question_mark1" src={% static "map/images/question_mark.png"%}>
      <img class="question_mark first question_mark2" src={% static "map/images/question_mark.png"%}>
      <img class="question_mark first question_mark3" src={% static "map/images/question_mark.png"%}>
      <img class="question_mark first question_mark4" src={% static "map/images/question_mark.png"%}>
      <img class="question_mark first question_mark5" src={% static "map/images/question_mark.png"%}> -->

      <img id="tree1" src={% static "map/images/env/tree1.png" %}>
      <img id="tree2" src={% static "map/images/env/tree2.png" %}>
      <img id="tree3" src={% static "map/images/env/tree3.png" %}>

      <img id="hamster" src={% static "map/images/env/hamster.png" %}>
      <img id="dog" src={% static "map/images/env/dog.png" %}>
      <img id="monster" src={% static "map/images/env/monster.png" %}>


      <!-- <img id="daddy" class="parent" src={% static "map/images/characters/daddy1.png" %}>
      <img id="girl" src={% static "map/images/characters/girl1.png" %}>
      <img id="mom" class="parent" src={% static "map/images/characters/mom1.png" %}> -->
      </div>


<script src={% static "map/js/sprite.js" %}></script>

{% endblock %}
