{% extends "coreapp/base.html" %}
{% load staticfiles %}
{% block title %}Adventure Map{% endblock %}
{% block map_css_js %}
<link rel="stylesheet" type="text/css" href={% static "map/css/style.css" %}>

{% endblock %}

{% block content %}


        <button class="btn btn-info" id="information">Information >></button>
        <div class="space" id="window"></div>
        <div class="space2"></div>

      <div>

      <canvas id="boy" class="{{ boyn }}"></canvas>
      <canvas id="env"></canvas>


      <img id="empire" src={{ img1 }}>
      <img id="statue_liberty" src={{ img2 }}>
      <img id="metropolitan" src={{ img3 }}>
      <img id="grand" src={{ img4 }}>
      <img id="central" src={{ img5 }}>

      {% if image1 %}
      {% autoescape off %}
      {{ image1 }}
      {% endautoescape %}
      {% endif %}
      <!-- <img src="https://i.kinja-img.com/gawker-media/image/upload/en4oskk7fjw1dm0dczaj.jpg" /> -->
      <div id="grand_title" class="building_name">Grand Central Terminal</div>
      <div id="empire_title" class="building_name">Empire State Building</div>
      <div id="central_title" class="building_name">Central Park</div>
      <div id="statue_title" class="building_name">Statue of Liberty</div>
      <div id="metropolitan_title" class="building_name">The Metropolitan Museum of Art</div>

      <a href="/adventure/task1"><img id="number1" class="number_mission" src={% static "map/images/numbers/number1.png" %}></a>
      <a href="/adventure/task2"><img id="number2" class="number_mission" src={% static "map/images/numbers/number2.png" %}></a>
      <a href=""><img id="number3" class="number_mission" src={% static "map/images/numbers/number3.png" %}></a>
      <a href=""><img id="number4" class="number_mission" src={% static "map/images/numbers/number4.png" %}></a>
      <a href=""><img id="number5" class="number_mission" src={% static "map/images/numbers/number5.png" %}></a>
      <!-- <img id="mist" src="static/images/mist/mist.png"> -->
      <img id="path1" src="https://doc-00-3k-docs.googleusercontent.com/docs/securesc/8e6a5l3pbhr34q5s6jfvrcnib98sk5qj/3ovbljqpvbq8o3uo7buvnue1dbigk0su/1450591200000/04404355413381452333/14856044240109384408/0Bx-KHIJkuXLsejZfOVFvbTZzV0U?e=download&nonce=0r42p8riih8g2&user=14856044240109384408&hash=lm2u6367mi0n6uf8jnrshkbrs6g3a3dr">
      <img id="path2" src="https://doc-00-3k-docs.googleusercontent.com/docs/securesc/8e6a5l3pbhr34q5s6jfvrcnib98sk5qj/3ovbljqpvbq8o3uo7buvnue1dbigk0su/1450591200000/04404355413381452333/14856044240109384408/0Bx-KHIJkuXLsejZfOVFvbTZzV0U?e=download&nonce=0r42p8riih8g2&user=14856044240109384408&hash=lm2u6367mi0n6uf8jnrshkbrs6g3a3dr">
      <img id="path3" src="https://doc-00-3k-docs.googleusercontent.com/docs/securesc/8e6a5l3pbhr34q5s6jfvrcnib98sk5qj/3ovbljqpvbq8o3uo7buvnue1dbigk0su/1450591200000/04404355413381452333/14856044240109384408/0Bx-KHIJkuXLsejZfOVFvbTZzV0U?e=download&nonce=0r42p8riih8g2&user=14856044240109384408&hash=lm2u6367mi0n6uf8jnrshkbrs6g3a3dr">
      <img id="path4" src="https://doc-00-3k-docs.googleusercontent.com/docs/securesc/8e6a5l3pbhr34q5s6jfvrcnib98sk5qj/3ovbljqpvbq8o3uo7buvnue1dbigk0su/1450591200000/04404355413381452333/14856044240109384408/0Bx-KHIJkuXLsejZfOVFvbTZzV0U?e=download&nonce=0r42p8riih8g2&user=14856044240109384408&hash=lm2u6367mi0n6uf8jnrshkbrs6g3a3dr">

      <!-- <img class="question_mark first question_mark1" src={% static "map/images/question_mark.png"%}>
      <img class="question_mark first question_mark2" src={% static "map/images/question_mark.png"%}>
      <img class="question_mark first question_mark3" src={% static "map/images/question_mark.png"%}>
      <img class="question_mark first question_mark4" src={% static "map/images/question_mark.png"%}>
      <img class="question_mark first question_mark5" src={% static "map/images/question_mark.png"%}> -->

      <img id="tree1" src={% static "map/images/env/tree1.png" %}>
      <img id="tree2" src={% static "map/images/env/tree2.png" %}>
      <img id="tree3" src={% static "map/images/env/tree3.png" %}>

      <img id="hamster" src={% static "map/images/env/hamster.png" %}>
      <img id="dog" src={% static "map/images/env/dog.png" %}>
      <img id="monster" src={% static "map/images/env/monster.png" %}>


      <!-- <img id="daddy" class="parent" src={% static "map/images/characters/daddy1.png" %}>
      <img id="girl" src={% static "map/images/characters/girl1.png" %}>
      <img id="mom" class="parent" src={% static "map/images/characters/mom1.png" %}> -->
      </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src={% static "map/js/sprite.js" %}></script>
<script src={% static "map/js/information.js" %}></script>

{% endblock %}
