{% extends "coreapp/base.html" %}
{% load staticfiles %}
{% block map_css_js %}

<link href="{% static "task/css/scramble.css" %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href={% static "map/css/task.css" %}>
{% endblock %}

{% block content %}
<div style="height:200px;">
<div class="scramble" data-unscrambled="STA"></div>

<div class="scramble" data-unscrambled="TIGER"></div>

<div class="scramble" data-unscrambled="SPIDER"></div>
</div>
<script type="text/javascript" src="{% static "task/js/scramble.js" %}"></script>

{% endblock %}
