{% extends "map/question_base.html" %}

{% block question %}



<!-- {% if isShow %}
<div class="address">
  <span class="houseNumber">{{ houseNumber }}</span>
  <span class="street">{{ street }}</span>
  <span class="city">{{ city }}</span>
  {% if city %}
  <span class="state">NY 11021</span>
  {% endif %}
</div> -->


<div class="address">
  <span class="houseNumber hasBorder">{{ houseNumber }}</span>
  <span class="street hasBorder">{{ street }}</span>
  <span class="city hasBorder">{{ city }}</span>
  <span class="state hasBorder">{{ state }}</span>
  <!-- {% endif %} -->
</div>

{% if isShow %}
<form id="form" method="get">
<div id="question">{{ question }}</div>
<input type="hidden" name="question" value="{{ question }}">
<input type="hidden" name="questionNumber" value="{{ number }}">
<input type="text" name="answer"><br>
<input type="submit" value="submit"><br>
</form><br>

{% endif %}
<div id="space">
{% if message %}
{{ message }}
<!-- <form action={% url "map:map" %}>
    <input type="submit" value="Go to Next Level">
</form> -->
{% endif %}

{% if message2 %}
{{ message2 }}

{% endif %}
</div>


{% endblock %}
