{% extends "map/task_base.html" %}
{% load staticfiles %}
{% block title %}Task 1{% endblock %}
{% block map_css_js %}
<link rel="stylesheet" type="text/css" href={% static "map/css/task.css" %}>

{% endblock %}

{% block content %}
<div class="container">

      <div class="page-header">
        <h1>HELP THE WIZARD</h1>
        <p class="lead">Bethesda Fountain in your world has special qualities! The Angel of Water
          statue you see above it was carved by sorceress from my world to help your
          people. The Angel gives the water the power to heal and the Angel herself
          is able to grant wishes. &nbsp;Please! Wish for the water to &nbsp;reverse
          the petrification of my people!</p>
      </div>

      <h3>Items needed:</h3>
      <p>{{ item_needed }}</p>

      <h3>Expenses:</h3>
      <p>{{ expenses }}</p>

      <h3>Locations:</h3>
      <p>{{ locations }}</p>


    </div>

    <iframe style="margin-left: 50px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3021.462414474427!2d-73.97305374970642!3d40.77384714166631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25892a6168611%3A0x9d94703beba53b51!2sBethesda+Terrace!5e0!3m2!1sen!2sus!4v1450498650706" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    <img style="float:right; margin-right: 150px;" src={% static "task/img/vivi.gif" %} class="img-responsive">
    <a class="btn btn-block btn-lg btn-primary" href="{% url 'map:map' %}">We have made our wishes!</a>

{% endblock %}
