{% extends "coreapp/base.html" %}
{% block title %} List {% endblock %}
{% load staticfiles %}
{% block content %}

<div class="container marketing">


  {% for x, y, z, u in zipped %}

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">{{ y }}</h2>
      <p class="lead">{{ u }}</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="{{ x }}" data-holder-rendered="true">
    </div>
  </div>
  {% if user.is_authenticated %}
  <form class="adventureform" action="/adventure/beginingstory" method="get">
  <input type="hidden" name="adventureid" value="{{ z }}">
  <input class="tobedeleted btn btn-info" id="play" type="submit" value="Play it!"><br>
  </form>
  {% else %}
  <form class="adventureform" action="{% url 'coreapp:registration' %}" method="get">
  <input class="tobedeleted btn btn-info" id="play" type="submit" value="Join to play!"><br>
  </form>
  {% endif %}

  {% endfor %}
  <br>
</div>

{% endblock %}
