{% extends "coreapp/base.html" %}
{% load staticfiles %}
{% block title %}Home{% endblock %}
{% block content %}
<header>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <!-- TODO remove the style and put into css -->
          <img class="center-block img-responsive" src="http://i.imgur.com/uci2Csw.png" style="max-width: 30%;" alt="wizard">
          <span class="name">Adventure Game</span>
          <span class="description">Spend some time with your children!</span>
        </div>
      </div>
    </div>
  </header>
  <section id="adventures">
    <div class="container">
      <div class="col-lg-12 text-center">
        <h2>Check out our adventures!</h2>
        <hr class="dark"/>
      </div>
      <div class="row">
        {% for w, x, y, z in zipped %}
        <div class="col-sm-4 adventure-item">

          {% if user.is_authenticated %}
          <form class="adventureform" action="/adventure/beginingstory" method="get">
          <input type="hidden" name="adventureid" value="{{ y }}">
          <input style="width:700px;height:250px;" class="img-responsive" id="play" type="image" src="{{ w }}"> {{ x }}
          </form>

          {% else %}
          <form class="adventureform" action="/adventure/visitorview" method="get">
          <input type="hidden" name="adventureid" value="{{ y }}">
          <input style="width:700px;height:250px;" class="img-responsive" id="play" type="image" src="{{ w }}"> {{ x }}
          </form>
          {% endif %}
          </div>
          {% endfor %}
          <div class="col-sm-4 adventure-item">
            <a href="{% url 'coreapp:adventureslist' %}">
            <img id="more" class="img-responsive" src="http://static1.squarespace.com/static/542c91d6e4b0192f92c6fd5a/55a2f8a3e4b022eb02879698/55a2f8a3e4b0bb17f7b37465/1436743844227/thumb_more-coming-soon.jpg" style="width:700px;height:250px;"></a>
            Check out for more...
          </div>

      </div>
    </section>
    <section id="about">
      <div class="container">
        <div class="col-lg-12 text-center">
          <h2>About</h2>
          <hr class="light"/>
          <div class="col-lg-4 col-lg-offset-2">
            <p>Our Adventure Games are deisgned to bring families together in a way that suits the soceity of today. Through technology families will get to work as a team to experience exciting stories and learn about each other along the way. </p>
          </div>
          <div class="col-lg-4">
            <p>The adventures here are not just designed to entertain the younger members of the family, but are equally engaging for those of all ages.</p>
          </div>
        </div>
      </div>
    </section>
    <section id="contact">
      <div class="container">
        <div class="col-lg-12 text-center">
         <h2>Contact Us</h2>
         <hr class="dark"/>
       </div>
       <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
         <form role="form" action="{% url 'coreapp:contact' %}" method="post"> {% csrf_token %}
          <div class="row">
            <div class="form-group col-xs-12 floating-label-form-group">
              <label for="name">Name</label>
              <input class="form-control" type="text" name="name" placeholder="Name">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xs-12 floating-label-form-group">
              <label for="email">Email Address</label>
              <input class="form-control" type="email" name="email" placeholder="Email Address">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xs-12 floating-label-form-group">
              <label for="message">Message</label>
              <textarea placeholder="Message" class="form-control" rows="5" name="msg"></textarea>
              <!-- <input class="form-control" type="text" name="msg" placeholder="Email Address"> -->
            </div>
          </div>
          <br>
          <div class="row">
            <div class="form-group col-xs-12">
              <button type="submit" class="btn btn-lg btn-info" style="background-color:#2BAACF">Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript" src={% static "js/home.js" %}></script>


{% endblock %}
