{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/flatly/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href={% static "css/stylesheet.css"%} rel="stylesheet" type="text/css">
  <title>Adventure Game</title>
</head>
<bod id="page-top">
  <div class="navbar navbar-default navbar-fixed-top navbar-shrink">
    <div class="container">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#page-top"><span>Adventure Game</span></a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-ex-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="page-scroll">
            <a href="#adventures">Adventures</a>
          </li>
          <li class="page-scroll">
            <a href="#about">About</a>
          </li>
          <li class="page-scroll">
            <a href="#contact">Contact</a>
          </li>
          <!-- TODO Move the styling to css -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign In</a>
            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
              <form action="{% url 'home' %}auth_view/" method="post" accept-charset="UTF-8">
                <input id="user_username" style="margin-bottom: 15px;" type="text" name="username" size="30">
                <input id="user_password" style="margin-bottom: 15px;" type="password" name="password" size="30">
                <input id="user_remember_me" style="float: left; margin-right: 10px;" type="checkbox" name="remember_Me" value="1">
                <label class="string optional" for="user_remember_me">Remember me</label>
                <input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px; padding: 0px;" type="submit" name="commit" value="Sign In">
                <div style="text-align:center; margin-top:10px">
                  <a href="{% url 'home' %}register/" style="color: #2c3e50; position: relative; bottom: 5px;">Register</a>
                </div>
              </form>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <header>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <!-- TODO remove the style and put into css -->
          <img class="center-block img-responsive" src="mickey.png" style="max-width: 30%;" alt="mickey">
          <span class="name">Adventure Game</span>
          <span class="description">Spend some time with your children!</span>
        </div>
      </div>
    </div>
  </header>
  <section id="adventures">
    <div class="container">
      <div class="col-lg-12 text-center">
        <h2>Check out some of our adventures!</h2>
        <hr class="dark"/>
      </div>
      <div class="row">
        <div class="col-sm-4 adventure-item">
          <a href="#adventureModal1" class="adventure-link" data-toggle="modal">
            <div class="caption">
              <div class="caption-content">
                <i class ="fa fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img src={% static "img/car.png"%} class="img-responsive" alt="car">
          </a>
        </div>
        <div class="col-sm-4 adventure-item">
          <a href="#adventureModal2" class="adventure-link" data-toggle="modal">
            <div class="caption">
              <div class="caption-content">
                <i class ="fa fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img src={% static "img/knight.png"%} class="img-responsive" alt="car">
          </a>
        </div>
        <div class="col-sm-4 adventure-item">
          <a href="#adventureModal3" class="adventure-link" data-toggle="modal">
            <div class="caption">
              <div class="caption-content">
                <i class ="fa fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img src={% static"fairy.png" %} class="img-responsive" alt="car">
          </a>
        </div>
      </div>
    </section>
    <section id="about">
      <div class="container">
        <div class="col-lg-12 text-center">
          <h2>About</h2>
          <hr class="light"/>
          <div class="col-lg-4 col-lg-offset-2">
            <p>Lorem ipsum dolor sit amet, sed ut mucius electram. Munere noster ut per, te sed mentitum evertitur, tantas fastidii ea mei. Sea electram maiestatis voluptatum ea, hinc meliore persequeris eu eam. Dicta dicit mentitum at sit, maiorum apeirian phaedrum cu ius.</p>
          </div>
          <div class="col-lg-4">
            <p>Lorem ipsum dolor sit amet, sed ut mucius electram. Munere noster ut per, te sed mentitum evertitur, tantas fastidii ea mei. Sea electram maiestatis voluptatum ea, hinc meliore persequeris eu eam. Dicta dicit mentitum at sit, maiorum apeirian phaedrum cu ius.</p>
          </div>
        </div>
      </div>
    </section>
    <section id="contact">
      <div class="container">
        <div class="col-lg-12 text-center">
         <h2>Contact Us</h2>
         <hr class="dark"/>
       </div>
       <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
         <form role="form">
          <div class="row">
            <div class="form-group col-xs-12 floating-label-form-group">
              <label for="name">Name</label>
              <input class="form-control" type="text" name="name" placeholder="Name">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xs-12 floating-label-form-group">
              <label for="email">Email Address</label>
              <input class="form-control" type="email" name="email" placeholder="Email Address">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xs-12 floating-label-form-group">
              <label for="message">Message</label>
              <textarea placeholder="Message" class="form-control" rows="5"></textarea>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="form-group col-xs-12">
              <button type="submit" class="btn btn-lg btn-info" style="background-color:#2BAACF">Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<footer class="footer-above">
  <div class="container">
    <div class="row">
      <div class="footer-col col-lg-12 text-center">
        <h3>Socia Media</h3>
        <ul class="list-inline">
          <li>
            <a href="#" class="btn-social btn-outline">
              <i class="fa fa-fw fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="#" class="btn-social btn-outline">
              <i class="fa fa-fw fa-google-plus"></i>
            </a>
          </li>
          <li>
            <a href="#" class="btn-social btn-outline">
              <i class="fa fa-fw fa-twitter"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>  
  </div>  
</footer>
<footer class="footer-below">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        Copyright © 2015
      </div>
    </div>
  </div>
</footer>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript" src="home.js"></script>
</body>
</html>
