{% extends "coreapp/base.html" %}
{% load staticfiles %}
{% block title %}Home{% endblock %}
{% block content %}
<header>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <!-- TODO remove the style and put into css -->
          <img class="center-block img-responsive" src={% static "img/gandalf.png" %} style="max-width: 30%;" alt="wizard">
          <span class="name">Adventure Game</span>
          <span class="description">Spend some time with your children!</span>
        </div>
      </div>
    </div>
  </header>
  <section id="adventures">
    <div class="container">
      <div class="col-lg-12 text-center">
        <h2>Check out some of our adventures!</h2>
        <hr class="dark"/>
      </div>
      <div class="row">
        <div class="col-sm-4 adventure-item">
          <a href="#adventureModal1" class="adventure-link" data-toggle="modal">
            <div class="caption">
              <div class="caption-content">
                <i class ="fa fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img src={% static "img/car.png"%} class="img-responsive" alt="car">
          </a>
        </div>
        <div class="col-sm-4 adventure-item">
          <a href="#adventureModal2" class="adventure-link" data-toggle="modal">
            <div class="caption">
              <div class="caption-content">
                <i class ="fa fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img src={% static "img/knight.png"%} class="img-responsive" alt="car">
          </a>
        </div>
        <div class="col-sm-4 adventure-item">
          <a href="#adventureModal3" class="adventure-link" data-toggle="modal">
            <div class="caption">
              <div class="caption-content">
                <i class ="fa fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img src={% static "img/fairy.png" %} class="img-responsive" alt="car">
          </a>
        </div>
      </div>
    </section>
    <section id="about">
      <div class="container">
        <div class="col-lg-12 text-center">
          <h2>About</h2>
          <hr class="light"/>
          <div class="col-lg-4 col-lg-offset-2">
            <p>Lorem ipsum dolor sit amet, sed ut mucius electram. Munere noster ut per, te sed mentitum evertitur, tantas fastidii ea mei. Sea electram maiestatis voluptatum ea, hinc meliore persequeris eu eam. Dicta dicit mentitum at sit, maiorum apeirian phaedrum cu ius.</p>
          </div>
          <div class="col-lg-4">
            <p>Lorem ipsum dolor sit amet, sed ut mucius electram. Munere noster ut per, te sed mentitum evertitur, tantas fastidii ea mei. Sea electram maiestatis voluptatum ea, hinc meliore persequeris eu eam. Dicta dicit mentitum at sit, maiorum apeirian phaedrum cu ius.</p>
          </div>
        </div>
      </div>
    </section>
    <section id="contact">
      <div class="container">
        <div class="col-lg-12 text-center">
         <h2>Contact Us</h2>
         <hr class="dark"/>
       </div>
       <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
         <form role="form">
          <div class="row">
            <div class="form-group col-xs-12 floating-label-form-group">
              <label for="name">Name</label>
              <input class="form-control" type="text" name="name" placeholder="Name">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xs-12 floating-label-form-group">
              <label for="email">Email Address</label>
              <input class="form-control" type="email" name="email" placeholder="Email Address">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xs-12 floating-label-form-group">
              <label for="message">Message</label>
              <textarea placeholder="Message" class="form-control" rows="5"></textarea>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="form-group col-xs-12">
              <button type="submit" class="btn btn-lg btn-info" style="background-color:#2BAACF">Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript" src={% static "js/home.js" %}></script>
{% endblock %}
