{% extends "coreapp/base.html" %}
{% block title %} Individual {% endblock %}
{% load staticfiles %}
{% block content %}



		<div class="fb-profile">
			<img align="left" class="fb-image-lg" src="http://lorempixel.com/850/280/nightlife/5/" alt="Profile image example"/>
			<img align="left" class="fb-image-profile thumbnail" src="http://i.imgur.com/yA1HtnV.png" alt="Profile image"/>
			<div class="fb-profile-text">
				<h1>Hi, {{ character_name }}! </h1>
				<h8>
					<a style="color: #0654ba;" href="/individual/">(Add more family members?)</a>
				</h8>
				<br>
				<br>
				<p>Your current level is:  {{ level }}</p>
			</div>
		</div>
 <!-- /container -->

	<!-- <div class="container"> -->
		<!-- <p>Check out our adventures:  </p>
		<div class="row">
			<div class="col-lg-12">
				<a href="/story/">
					<img src={% static "img/park.jpg" %} class ="park img-responsive"/>
					<span class ="park-text">Help the Wizard!</span>
				</a>
			</div>
		</div>
		<br> -->


		<br><br><br><br>


		<div class="container marketing">


			{% for x, y, z, u in zipped %}

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">{{ y }}</h2>
          <p class="lead">{{ u }}</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="{{ x }}" data-holder-rendered="true">
        </div>
      </div>
			<form class="adventureform" action="/adventure/beginingstory" method="get">
			<input type="hidden" name="adventureid" value="{{ z }}">
			<input class="tobedeleted btn btn-info" id="play" type="submit" value="Play it!"><br>
			</form>
			{% endfor %}
			{% if game_saved %}
			{% for n in game_saved %}
			{% if n == z %}
			<input class="tobedeleted btn btn-info" id="continue" type="submit" value="Continue your adventure"><br>
			{% endif %}

			{% endfor %}


			<script>
			$(function(){
			  var el = document.getElementById("continue")
			  if (el) {
			    $("#continue").next().remove();
			  }
			});
			</script>


			{% else %}
			<input type="submit" class="btn btn-info" value="Play it!"><br>


			{% endif %}

			{% if completed_list %}
			{% for w in completed_list %}
			{% if w == z %}
			<p style="color:red;">you have completed this adventure, but if you want to play again, click "Replay"</p>
			<input id="replay" class="btn replay" type="submit" value="Replay">
			<script>
			$(function(){
			  var el = document.getElementById("replay")
			  if (el) {
			    $("#replay").prevAll('input.tobedeleted').remove();
			  }
			});
			</script>
			{% endif %}
			{% endfor %}



			{% endif %}






      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
      </footer>

    </div>


{% endblock %}
