{% extends "coreapp/base.html" %}
{% block title %} Individual {% endblock %}
{% load staticfiles %}
{% block content %}

<body>

		<div class="fb-profile">
			<img align="left" class="fb-image-lg" src="http://lorempixel.com/850/280/nightlife/5/" alt="Profile image example"/>
			<img align="left" class="fb-image-profile thumbnail" src={% static "img/father.ico" %} alt="Profile image"/>
			<div class="fb-profile-text">
				<h1>Hi, {{ character_name }}! </h1>
				<h8>
					<a href="/individual/">Not {{ character_name }}? Change member</a>
				</h8>
				<br>
				<br>
				<p>Your current level is:  {{ level }}</p>
			</div>
		</div>
 <!-- /container -->

	<!-- <div class="container"> -->
		<!-- <p>Check out our adventures:  </p>
		<div class="row">
			<div class="col-lg-12">
				<a href="/story/">
					<img src={% static "img/park.jpg" %} class ="park img-responsive"/>
					<span class ="park-text">Help the Wizard!</span>
				</a>
			</div>
		</div>
		<br> -->


	{% for x,y in zipped %}
		<div class="row">
			<div class="col-lg-12">
				<a href="/story/">
					<img src= {{ x }} class ="park img-responsive"/>
					<span class ="park-text">{{ y }}</span>
				</a>
			</div>
		</div>
	{% endfor%}
	</body>
{% endblock %}
