{% extends "coreapp/base.html" %}
{% block title %} Individual {% endblock %}
{% load staticfiles %}
{% block content %}



		<div class="fb-profile">
			<img align="left" class="fb-image-lg" src="http://lorempixel.com/850/280/nightlife/5/" alt="Profile image example"/>
			<img align="left" class="fb-image-profile thumbnail" src={% static "img/father.ico" %} alt="Profile image"/>
			<div class="fb-profile-text">
				<h1>Hi, {{ character_name }}! </h1>
				<h8>
					<a style="color: #0654ba;" href="/individual/">(Not {{ character_name }}? Change member)</a>
				</h8>
				<br>
				<br>
				<p>Your current level is:  {{ level }}</p>
			</div>
		</div>
 <!-- /container -->

	<!-- <div class="container"> -->
		<!-- <p>Check out our adventures:  </p>
		<div class="row">
			<div class="col-lg-12">
				<a href="/story/">
					<img src={% static "img/park.jpg" %} class ="park img-responsive"/>
					<span class ="park-text">Help the Wizard!</span>
				</a>
			</div>
		</div>
		<br> -->


		<br><br><br><br>


		<div class="container marketing">


			{% for x,y,z in zipped %}

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">{{ y }}</h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="{{ x }}" data-holder-rendered="true">
        </div>
      </div>
			<form class="adventureform" action="/adventure{{ z }}/story" method="get">
			<input type="hidden" name="adventureid" value="{{ z }}">

			<input type="submit" value="Play it!"><br>
			</form>

			{% endfor %}



      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
      </footer>

    </div>


{% endblock %}
