{% extends "coreapp/base.html" %}
{% load staticfiles %}
{% block content %}
<div class ="team">
  <div class="container-fluid">
    <div class="row">
      <h2 class="text-center">Welcome the <i>{{ lastname }}</i> family!</h2>
  {% if not family_members %}
    <p class="text-center">It seems you have no family members added to your account yet!<br>
      Would you like to add one now?</p>
    <div class="container">
    <a href="{% url 'coreapp:add-family-member' %}">
      <button class="btn btn-lg btn-info btn-block add-family-btn text-center">
        Add one here!
      </button>
    </a>
    </div>
  {% else %}
    <br>
    <h5 class="text-center">Select your character below.. </h5>
    <br>

    <form action="/individual/" method="POST">


        {% for items in family_members %}
          <div class="col-md-4">
            <label>
            <img src="https://drive.google.com/open?id=0Bx-KHIJkuXLsY1phMy1zektSNzQ" class="center-block img-responsive" width="285"/>
            <h3 class="text-center">
              <input type="radio" name="character_name" value =  "{{ items }}" > {{ items }}
            </h3>
          </label>
          </div>
        {% endfor %}
    </div>
  </div>
  <br>
  <h5 class="text-center"> Enter the PIN for the selected character </h5>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4 box-shadow--6p">
        <div class="panel panel-default pin-panel">
          <div class="text-center panel-body">
            <h3>Pin</h3>
            <!-- <form class="form-inline text-center" action="/individual/" method="POST"> -->
              {% csrf_token %}
              <input type="password" name="character_pin" id="pin" class="form-control" placeholder="Enter PIN To Go To Your Page">
              <br>
              <div id=button>
              <button type="submit" class="btn submit-button">To my individual page
                <i class="fa fa-arrow-right"></i>
              </button>
            </div>
            <br>
            <a class="add-family-link" href="{% url 'coreapp:add-family-member' %}">Click Here To Add More Family Members</a>

            </form>

          </div>
        </div>
      </div>
{% endif %}
    </div>
  </div>
</div>
{% endblock %}
