{% extends "coreapp/base.html" %}
{% load staticfiles %}
{% block content %}
<div class ="team">
  <div class="container-fluid">
  <div class="row">
    {% for items in family_members %}
    <div class="col-md-4">
      <img src={% static "img/mother.png" %} class="center-block img-responsive" width="285"/>
      <h3 class="text-center"> {{ items }} </h3>
    </div>
    {% endfor %}

    <!--<div class="col-md-4">-->
      <!--<img src={% static "img/mother.png" %} class=" center-block img-responsive" width="285">-->
      <!--<h3 class ="text-center"> Marie Doe</h3>-->
    <!--</div>-->
    <!--<div class="col-md-4">-->
      <!--<img src={% static "img/father.ico" %} class=" center-block img-responsive" width="285">-->
      <!--<h3 class ="text-center"> John Doe</h3>-->
    <!--</div>-->
    <!--<div class="col-md-4">-->
      <!--<img src={% static "img/child.png" %} class=" center-block img-responsive" width="285">-->
      <!--<h3 class ="text-center"> Sammy Doe</h3>-->
    <!--</div>-->
  </div>
  </div>
</div>
{% endblock %}
